.bg-img {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: 1520px 900px;
}
.line {
  border-left: 1px solid lightgrey;
}
a:hover {
  text-decoration: none;
}
.btn_circle {
  width: 90px;
  min-width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #40975f;
}
.phone1 {
  width: 357px;
  height: 643px;
  margin-left: 84px;
}
.tick img {
  width: 32px;
  height: 32px;
  margin-top: -11px;
}
section {
  height: 800px;
}
a {
  text-decoration: none;
  color: black;
}
.logo {
  float: left;
  width: 162px;
  padding: 26px;
}
.nav {
  display: inline-block;
  font-size: 23px;
  margin-top: 16px;
  margin-left: 460px;
}
.nav li {
  margin-left: 30px;
  display: inline;
  padding: 10px;
  font-size: 16px;
  line-height: 44px;
  color: #242f51;
  font-weight: 400;
  font-family: "Poppins";
}
.btn {
  border: 1px solid blue;
  background-color: blue;
  border-radius: 29px;
}
.btn a {
  color: white;
  padding-bottom: 0px;
}
.heading {
  position: absolute;
  display: inline-block;
  font-size: 25px;
  top: 132px;
  margin-left: -113px;
}
.image {
  display: inline-block;
}
.phone {
  position: absolute;
  height: 622px;
  margin-top: 6px;
  margin-left: 865px;
}
#demo {
  color: blue;
}
#section-1 {
  position: relative;
}

.year {
  border: 0px solid #242f51;
  border-radius: 60px;
  background-color: lightgrey;
  font-size: 17px;
  padding: 7px;
  padding-left: 40px;
  padding-right: 60px;
}
.main-heading {
  font-size: 60px;
  line-height: 75px;
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins";
  width: 514px;
  margin-top: 23px;
}
.para {
  font-size: 18px;
  line-height: 28px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
}
.nav2 {
  display: inline-block;
  margin-left: -35px;
  font-size: 16px;
  line-height: 44px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
}
.nav2 li {
  display: inline-block;
  padding-bottom: 7px;
  padding-left: 16px;
}
.btn2 {
  border: 1px solid blue;
  background-color: blue;
  padding: 14px;
  margin-right: 22px;
  font-size: 15px;
  border-radius: 46px;
}
.btn2 a {
  color: white;
  padding-bottom: 0px;
  text-decoration: none;
  font-size: 19px;
}
.demo {
  color: blue;
}
.tick {
  position: absolute;
  margin-top: 4px;
  margin-left: 0px;
  background-color: #feaa25;
  border-radius: 37px;
  height: 35px;
  width: 35px;
}
.sec2-head {
  margin-top: 50px;
  font-size: 16px;
  line-height: 28px;
  color: #242f51;
  font-weight: 400;
  font-family: "Poppins";
}
.company {
  padding-left: 231px;
}
.company img {
  padding-left: 51px;
  margin-top: 28px;
  width: 207px;
  height: 65px;
}
.section-2 {
  margin-top: 181px;
  position: relative;
}
.phone2 {
  position: absolute;
  left: 120px;
}
.features {
  position: absolute;
  right: 196px;
}
.features pre {
  font-size: 36px;
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins";
  right: 500px;
}
.tiltphone {
  height: 755px;
}
.details {
  width: 430px;
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
}
.allSymbols {
  position: relative;
}
.symbol1 {
  position: absolute;
}
.img1 {
  float: left;
  margin-right: 41px;
}
.img2 {
  float: left;
  margin-right: 41px;
}
.img3 {
  float: left;
  margin-right: 41px;
}
#f1 {
  font-size: 20px;
  line-height: 58px;
  color: #f55767;
  font-weight: 600;
  font-family: "Poppins";
}
#p1 {
  font-size: 20px;
  line-height: 58px;
  color: #2563ff;
  font-weight: 600;
  font-family: "Poppins";
}
#v1 {
  font-size: 20px;
  line-height: 58px;
  color: #40975f;
  font-weight: 600;
  font-family: "Poppins";
}
.m2 {
  margin-top: 313px;
}
.about1 {
  width: 423px;
  height: 125px;
  font-size: 40px;
  line-height: 50px;
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins";
}
.about2 {
  width: 423px;
  padding-top: 37px;
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
}
.s3 {
  margin-top: 110px;
  margin-left: 238px;
}
.auto {
  margin-top: 10px;
  font-size: 20px;
  line-height: 58px;
  color: #f55767;
  font-weight: 600;
  font-family: "Poppins";
}
.net {
  margin-top: 10px;
  font-size: 20px;
  line-height: 58px;
  color: #2563ff;
  font-weight: 600;
  font-family: "Poppins";
}
.big {
  margin-top: 10px;
  font-size: 20px;
  line-height: 58px;
  color: #40975f;
  font-weight: 600;
  font-family: "Poppins";
}
.auto1 {
  width: 260px;
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
}
.net1 {
  width: 260px;
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
}
.big1 {
  width: 260px;
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
}
.s4 {
  margin-top: 100px;
}
#github {
  width: 600px;
  height: 540px;
}
.gitp {
  margin-top: 187px;
  margin-left: 115px;
  margin-bottom: 12px;
  width: 355px;
  font-size: 36px;
  line-height: 46px;
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins";
}
.gitp2 {
  margin-left: 111px;
  width: 420px;
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
  margin-bottom: 26px;
}
.learnMore {
  margin-left: 110px;
  padding-bottom: 10px;
  width: 140px;
  height: 45px;
}
.res1 {
  margin-left: 320px;
  padding-left: 58px;
  font-size: 36px;
  line-height: 46px;
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  width: 428px;
}
.uf1 {
  margin-top: 70px;
}
.fea1 {
  margin-top: 127px;
}
.res2 {
  margin-left: 245px;
  width: 630px;
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
}
.s5 {
  margin-top: 500px;
}
.prop1 {
  margin-top: 90px;
}
.prophead {
  font-size: 20px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
}
.s5 img {
  margin-left: 131px;
}
.prophd {
  margin-bottom: 70px;
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
}
.featureheading {
  font-size: 36px;
  line-height: 46px;
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins";
  width: 325px;
}
.featureheading2 {
  width: 400px;
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
  margin-bottom: 48px;
}
.featuresSubHeading1 {
  font-size: 20px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins";
}
.featuresSubHeading2 {
  font-size: 16px;
  width: 260px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
  margin-bottom: 43px;
}
.showMore {
  width: 151px;
  padding-bottom: 15px;
  height: 46px;
  font-size: 23px;
  line-height: 31px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
  margin-left: 20px;
}
.phones {
  height: 868px;
}
.t1 {
  height: 729px;
  width: 586px;
}
.priceHeading1 {
  font-size: 36px;
  line-height: 46px;
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  width: 570px;
  padding-left: 10px;
}
.priceHeading2 {
  width: 614px;
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
}
.buttonDiv {
  border: 1px solid grey;
  border-radius: 46px;
  width: 250px;
  text-align: center;
  display: inline-block;
  height: 45px;
}
.buttonDiv p {
  display: inline-block;
  padding-left: 14px;
}
.monthly {
  width: 130px;
  margin-top: 3px;
  margin-left: -35px;
}
.monthly2 {
  font-size: 16px;
  margin-left: 1px;
  margin-top: -3px;
  padding-left: 27px;
  line-height: 37px;
  color: #616368;
  font-weight: 500;
  font-family: "Poppins";
}
.price1 {
  width: 300px;
}
.price2 {
  width: 221px;
  height: 414px;
  margin-top: 7px;
}
.s6 {
  margin-top: 84px;
}
.peoples {
  padding-right: 32px;
  width: 578px;
  height: 484px;
  margin-top: 80px;
}
.conh1 {
  font-size: 40px;
  width: 476px;
  line-height: 50px;
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins";
}
.conh2 {
  font-size: 16px;
  width: 476px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
}
.x23 {
  margin: 70px 0;
}
.x1-p h3 {
  font-size: 20px;
  line-height: 26px;
  color: #f55767;
  font-weight: 600;
  font-family: "Poppins";
}
.x2-p h3 {
  font-size: 20px;
  line-height: 26px;
  color: #2563ff;
  font-weight: 600;
  font-family: "Poppins";
}
.x3-p h3 {
  font-size: 20px;
  line-height: 26px;
  color: #40975f;
  font-weight: 600;
  font-family: "Poppins";
}
.x1-p p {
  max-width: 370px;
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
}
.x2-p p {
  max-width: 370px;
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
}
.x3-p p {
  max-width: 370px;
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
}
.conh3 {
  font-size: 20px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins";
}
.conh4 {
  width: 540px;
  height: 144px;
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
}
.clients {
  margin-top: 14px;
  padding-left: 39px;
}
.name {
  margin-top: 17px;
  padding-top: 5px;
  padding-left: 23px;
  font-weight: 600;
  font-family: "Poppins";
}
.designation {
  margin-left: 19px;
  margin-top: -13px;
  line-height: 28px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
}
.arrow {
  width: 90px;
  height: 35px;
  margin-top: 33px;
  margin-left: 185px;
}
.s7 {
  margin-top: -28px;
}
.f1 {
  font-size: 40px;
  line-height: 58px;
  margin-left: 68px;
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  width: 560px;
}
.f2 {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
  width: 630px;
  margin-left: 35px;
}
.f3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins";
}
.f4 {
  padding-left: 14px;
  width: 810px;
  height: 110px;
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
}
.f5 {
  margin: 0;
  padding-left: 40px;
  font-size: 20px;
  line-height: 58px;
  color: #242f51;
  font-weight: 500;
  font-family: "Poppins";
}
.f6 {
  margin: 0;
  padding-left: 40px;
  font-size: 20px;
  line-height: 58px;
  color: #242f51;
  font-weight: 500;
  font-family: "Poppins";
}
.f7 {
  margin: 0;
  padding-left: 40px;
  font-size: 20px;
  line-height: 58px;
  color: #242f51;
  font-weight: 500;
  font-family: "Poppins";
}
.f8 {
  margin: 0;
  padding-left: 40px;
  font-size: 20px;
  line-height: 58px;
  color: #242f51;
  font-weight: 500;
  font-family: "Poppins";
}
.fq1 {
  margin-top: 20px;
  height: 250px;
  width: 945px;
  background-color: #f5f7fa;
}
.fq2 {
  background-color: #f5f7fa;
  width: 945px;
  margin-top: 10px;
}
.fq3 {
  background-color: #f5f7fa;
  width: 945px;
  margin-top: 10px;
}

.fq4 {
  background-color: #f5f7fa;
  width: 945px;
  margin-top: 10px;
}

.fq5 {
  background-color: #f5f7fa;
  width: 945px;
  margin-top: 10px;
}
.div2 {
  margin-left: -100px;
}
.download {
  padding-top: 117px;
}
.d1 {
  font-size: 47px;
  width: 585px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
}
.d2 {
  padding-left: 10px;
  width: 626px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
}
.d3 {
  margin-left: 8px;
  height: 52px;
  width: 178px;
}
.d4 {
  height: 52px;
  width: 178px;
}
.s8 {
  margin-top: 80px;
}
.cycle {
  width: 734px;
  height: 479px;
}
.footer-bg {
  background-color: rgb(9, 20, 46);
  text-align: center;
  padding: 110px 0px;
  margin-top: -60px;
}
.footer-nav {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
  margin: 50px 0;
  padding: 0;
}
.footer-social {
  margin: 0;
  padding: 0;
}

.footer-nav li a {
  font-size: 16px;
  line-height: 44px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
  color: #ffffff;
  padding-left: 40px;
}
.footer-nav li {
  display: inline-block;
}
.footer-social li a {
  color: #ffffff;
  opacity: 0.6;
  font-size: 30px;
}
.footer-social li a:hover {
  opacity: 1;
}

ul.footer-social li {
  display: inline-block;
  padding-left: 20px;
}
.footer-bg p {
  font-size: 14px;
  line-height: 44px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
  margin-top: 90px;
}

.fq2 p + p {
  margin: 0;
  font-size: 26px;
  margin-left: 400px;
  margin-top: 8px;
}
.fq3 p + p {
  margin: 0;
  font-size: 26px;
  margin-left: 498px;
  margin-top: 8px;
}

.fq4 p + p {
  margin: 0;
  font-size: 26px;
  margin-left: 582px;
  margin-top: 8px;
}

.fq5 p + p {
  margin: 0;
  font-size: 26px;
  margin-left: 556px;
  margin-top: 8px;
}

.footer-nav a:hover {
  color: brown;
}
.s9 {
  margin-top: 170px;
  margin-bottom: 318px;
}
.trans h2 {
  font-size: 36px;
  line-height: 46px;
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
}
.trans p {
  margin-top: 45px;
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
}
.toogle-button {
  display: flex;
  margin: 0 auto;
  margin-top: 85px;
  border: 1px solid #ebebeb;
  width: 283px;
  border-radius: 283px;
}
.toogle-button-1 {
  width: 50%;
}
.toogle-button-2 {
  width: 50%;
}
.months p {
  font-size: 60px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
}
.months p + p {
  font-size: 18px;
  line-height: 28px;
  color: #999ca5;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
}
.bus {
  font-size: 20px;
  line-height: 28px;
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
}
.small {
  font-size: 16px;
  line-height: 28px;
  color: #999ca5;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
}
.textSeon1 p {
  font-size: 16px;
  line-height: 48px;
  color: #999ca5;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
}
.textSeon1 button {
  width: 210px;
}
.textSeon1 a {
  padding-top: 32px;
  font-size: 16px;
  line-height: 28px;
  color: #2500f9;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
}
.Card1 {
  height: 550px;
  width: 300px;
}
.Card2 {
  height: 595px;
  width: 300px;
  margin-left: 20px;
}
.cards {
  margin-top: 50px;
  margin-left: -13px;
}
.months {
  margin-left: 30px;
  margin-top: 28px;
}

.months p + p {
  margin-top: 26px;
}
#prev {
  color: #242f51;
  height: 47px;
  margin-top: 276px;
  margin-left: 420px;
  border-radius: 100px;
  width: 47px;
}
#next {
  height: 47px;
  background-color: #242f51;
  margin-top: 276px;
  border-radius: 100px;
  width: 47px;
}
.toogle {
  width: 283px;
  border: 1px solid lightgray;
  border-radius: 352px;
  margin-left: 126px;
  margin-top: 85px;
}
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open > a,
.tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i,
.tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu,
.tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

.yearly {
  width: 129px;
  margin-top: 3px;
  margin-left: -86px;
}
.years {
  margin-left: 30px;
  margin-top: 28px;
}
.years p {
  font-size: 60px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  margin-left: -18px;
}
.years p + p {
  font-size: 18px;
  line-height: 28px;
  color: #999ca5;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
}
.years p + p {
  margin-top: 26px;
  margin-left: 1px;
}
.nav-tabs {
  border: 1px solid lightgrey;
  border-radius: 60px;
}

.toogle1 {
  width: 168px;
  border-radius: 54px;
  margin-left: -40px;
  margin-top: 0.5px;
  background: blue;
  color: white;
}
.toogle2 {
  width: 168px;
  border-radius: 54px;
  margin-top: 0.5px;
  margin-left: -55px;
  color: #898a8e;
}

#accordion button::before {
  position: absolute;
  padding: auto 0;
  content: "+";
  right: 24px;
  color: #282828;
  top: 37px;
  font-weight: bold;
  font-size: 29px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#accordion button[aria-expanded="true"]::before {
  position: absolute;
  content: "-";
  right: 25px;
  color: rgb(40, 40, 40);
  font-size: 40px;
  font-weight: bold;
  top: 36px;
}
.faq-Button {
  background-color: #f5f7fa;
  border: 0px;
  width: 100%;
}
